<div class="checkout">

  <form class="form" (ngSubmit)="onSubmit()" #checkoutForm="ngForm">

    <div class="row"> <!-- .row -->

      <div class="col-md-4">

        <app-checkout-form
          [form]="form" 
          [customer]="getCustomer()">
        </app-checkout-form>

      </div>

      <div class="col-md-8"> <!-- .col-md-8 -->

        <div class="row"> <!-- .row -->

          <div class="col-md-6 col-xs-12">
            <div class="box">
              <div class="title">
                <i class="fa fa-truck"></i> Shipping Method
              </div>
              <div class="content">
                <div *ngIf="!shipping" class="message info">
                  No shipping types available, please contact administrators.
                </div>

                <div *ngIf="shipping">

                  <button class="button" type="button" *ngFor="let type of shipping" (click)="setSelectedShipping(type)">{{ type.name }}</button>

                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="box">
              <div class="title">
                <i class="fa fa-credit-card"></i> Payment Method
              </div>
              <div class="content">

                <img src="/assets/img/paypal.png" alt="Paypal">

              </div>
            </div>
          </div>

        </div> <!-- /.row -->

        <div>
          <div class="box">
            <div class="title">
              <i class="fa fa-check-square"></i> Order review
            </div>
            <div class="content">

              <app-checkout-items
                *ngIf="products.length"
                [items]="products"
                [subtotal]="subtotal"
                [shipping]="selectedShipping"
                [grandTotal]="subtotal + (selectedShipping ? selectedShipping.price : 0)">
              </app-checkout-items>

              <div *ngIf="!products.length">
                <p>You have no items in your cart</p>
              </div>

            </div>
          </div>
        </div>

        <div class="row"> <!-- .row -->

          <div class="col-md-6"> <!-- .col-md-6 -->

            <div class="box">

              <div class="title small">Comments</div>

              <div class="content">

                <textarea name="comments" class="input" cols="30" rows="10"></textarea>

              </div>

            </div>

          </div> <!-- /.col-md-6 -->

          <div class="col-md-6"> <!-- .col-md-6 -->

            <button class="button" [disabled]="!selectedShipping" type="submit">Place Order</button>

          </div> <!-- /.col-md-6 -->

        </div> <!-- /.row -->


      </div> <!-- /.col-md-8 -->

    </div> <!-- ./row -->

  </form>

</div>
