$defaultBg: #FAFAFA;
$defaultTitleBg: #81A9B3;

.box {
  background: $defaultBg;
  margin-bottom: 20px;

  .title {
    background: $defaultTitleBg;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;

    &.small {
      background: $defaultBg;
      font-size: 0.8em;
      color: #777;
    }

    i {
      margin-right: 10px;
      font-size: 24px;
      line-height: 24px;
    }

  }

  .content {
    padding: 15px;
  }
}

.widget {
  border: 1px solid #dfdfdf;
  border-top: 2px solid #0ab3a3;
  margin-bottom: 20px;
  padding: 15px;

  h1, h2, h3, h4 {
    text-transform: uppercase;
  }

  .lead {
    color: #909090;
    margin-bottom: 20px;
    font-size: 0.6em;
  }

}
