<app-message *ngIf="errorMsg" [data]="errorMsg"></app-message>

<div class="product-details" *ngIf="product && !product.deleted">

  <div *ngIf="product.category">
    <div class="breadcrumbs">
      <ul>
        <li class="home">
          <span class="fa fa-home"></span>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a routerLink="/products">Browse</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li *ngIf="product.category._id">
          <a [routerLink]="['/category', product.category._id]">{{ product.category.name }}</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li class="active">
          <span>{{ product.name }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">

    <div class="large-image col-md-6 col-sm-6 col-xs-12">
      <img [src]="product.image" *ngIf="product.image" alt="Large image"/>
    </div>

    <div class="right-info col-md-6 col-sm-6 col-xs-12">
      <h1>{{ variant?.name || product.name }}</h1>

      <p>
        {{ variant?.description || product.description }}
      </p>

      <app-product-variants [variants]="product.variants" [optionTypes]="product.optionTypes" [product]="product" [(variant)]="variant"></app-product-variants>

      <span class="price" [ngClass]="{'strike': product.getActiveDiscount()}">
        {{ variant?.price || product.price | currency:'USD':true }}
      </span>

      <div class="has-discount" *ngIf="product.getActiveDiscount()">
        <span class="price">{{ product.getCurrentPrice() | currency:'USD':true }}</span>
      </div>

      <div *ngIf="!isInStock()">
        Out of stock
      </div>

      <div *ngIf="isInStock()">
        <button (click)="onAddToCart()" class="button add-to-cart">
          <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
          Add to cart
        </button>
      </div>

    </div>

  </div>

  <div class="detailed-info">
    <p>{{ variant?.description || product.description }}</p>
  </div>

</div>
