.product-details {

  .large-image {
    img {
      max-width: 95%;
    }
  }

  .detailed-info {
    border-top: #dfdfdf 1px solid;
    padding-top: 20px;
  }

  .price {
    font-size: 1.8em;
    margin: 20px 0;
  }

  .has-discount {
    display: inline-block;

    .price {
      margin-left: 20px;
    }
  }

  .add-to-cart {
    margin-top: 20px;
  }

}
