<app-message *ngIf="errorMsg" [data]="errorMsg"></app-message>

<div class="product-details" *ngIf="product && !product.deleted">

  <div *ngIf="product.category">
    <div class="breadcrumbs">
      <ul>
        <li class="home">
          <span class="fa fa-home"></span>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a routerLink="/products">Browse</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a [routerLink]="['/category', product.category._id]">{{ product.category.name }}</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li class="active">
          <span>{{ product.name }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">

    <div class="large-image col-md-6 col-sm-6 col-xs-12">
      <img [src]="product.image" *ngIf="product.image" alt="Large image"/>
    </div>

    <div class="right-info col-md-6 col-sm-6 col-xs-12">
      <h1>{{ product.name }}</h1>

      <ul>
        <li>In stock. Ships within 1-2 days</li>
        <li>Free Shipping</li>
        <li>Guarantee</li>
      </ul>

      <span class="price" [ngClass]="{'strike': product.getActiveDiscount()}">{{ product.price | currency:'USD':true }}</span>

      <div class="has-discount" *ngIf="product.getActiveDiscount()">
        <span class="price">{{ product.getCurrentPrice() | currency:'USD':true }}</span>
      </div>

      <div *ngIf="attributes.length">

        <div *ngFor="let attribute of attributes">

          <h4>{{ attribute.name }}</h4>
          <select [(ngModel)]="attribute.selected" (ngModelChange)="onAttributeChange($event, attribute)">
            <option [ngValue]="null" selected></option>
            <option *ngFor="let item of attribute.values" [ngValue]="item" [disabled]="!attributeEnabled(item, attribute)">{{ item.label }}</option>
          </select>

        </div>

      </div>

      <div *ngIf="!isInStock()">
        Out of stock
      </div>

      <div *ngIf="isInStock()">
        <button (click)="addToCart()" class="button add-to-cart" [disabled]="!allAttributesSelected()">
          <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
          Add to cart
        </button>
      </div>

    </div>

  </div>

  <div class="detailed-info">
    <p>
      Beautiful New Old Stock Antique Windsor eyeglass frames.
      These are in Mint condition, never used. They are close to 100 years old. They are ready for your prescription or sunglass lenses and everyday wear. The Windsor style was very common in the late 1800's and early 1900's. Made popular much later by John Lennon and Mahatma Gandhi.
    </p>
  </div>

</div>
