<div class="contact">

  <h1>Contact us</h1>

  <div class="row">

    <div class="col-md-4">

      <p>
      You vexed shy mirth now noise. Talked him people valley add use her depend letter. Allowance too applauded now way something recommend. Mrs age men and trees jokes fancy. Gay pretended engrossed eagerness continued ten. Admitting day him contained unfeeling attention mrs out.
      </p>

      <p>
      Travelling alteration impression six all uncommonly. Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance.
      </p>

    </div>

    <div class="col-md-8">
      <app-contact-form></app-contact-form>
    </div>
    
  </div>

</div>
