<div class="order">

  <app-message *ngIf="errorMsg" [data]="errorMsg"></app-message>

  <div *ngIf="order">
    <h1>Order: {{ order._id }}</h1>

    <div class="row">

      <div class="col-md-6 col-xs-12"> <!-- .col -->
        <table>
          <tr>
            <td>Ordernumber:</td>
            <td>{{ order._id }}</td>
          </tr>
          <tr>
            <td>Date created</td>
            <td>{{ order.createdAt | date:'short' }}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>
              <div [ngSwitch]="order.status">
                <span *ngSwitchCase="ShippingStatus.Pending">Pending</span>
                <span *ngSwitchCase="ShippingStatus.AwaitingShipment">Awaiting Shipment</span>
                <span *ngSwitchCase="ShippingStatus.Shipped">Shipped</span>
                <span *ngSwitchCase="ShippingStatus.Completed">Completed</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Payment method</td>
            <td>{{ order.payment.name }}</td>
          </tr>
          <tr>
            <td>Invoice</td>
            <td>[invoice]</td>
          </tr>
        </table>
      </div> <!-- /.col -->

      <div class="col-md-6 col-xs-12"> <!-- .col -->
        <div *ngIf="order.shipping">
          <h4 class="m-b-xs m-t-xs">Shipping method</h4>
          {{ order.shipping.value.name }} <br/>
        </div>
        <div *ngIf="order.shippingAddress">
          <h4 class="m-b-xs">Delivery Address</h4>
          {{ order.shippingAddress.firstname }} {{ order.shippingAddress.lastname }} <br/>
          {{ order.shippingAddress.address }} <br/>
          {{ order.shippingAddress.postnumber }} {{ order.shippingAddress.city }}
        </div>
      </div> <!-- /.col -->

    </div>

    <div *ngIf="order.status == ShippingStatus.Shipped">
      <div class="message info">
        <p>The shipment is sent to you and your tracking number is: <i class="fa fa-truck"></i> [trackingnumber]</p>
        <p>Please note that the tracking number may not be available yet. It may take a few hours before you can track it.</p>
      </div>
    </div>

    <app-checkout-items
      [items]="items"
      [shipping]="order.shipping"
      [subtotal]="subtotal"
      [grandTotal]="order.total">
    </app-checkout-items>

  </div>

</div>
