<div class="login">

  <h1>Login or create an account</h1>

  <div class="row">


    <div class="col-md-6 col-xs-12"> <!-- .col -->
      <div class="widget">
        <h2>Sign up</h2>

        <p>Sign up for a customer account</p>

        <a class="button" routerLink="/register">Create an account</a>
      </div>
    </div> <!-- /.col -->

    <div class="col-md-6 col-xs-12"> <!-- .col -->

      <div class="widget">
        <h2>Already registered?</h2>

        <p>If you have an account already, please login below.</p>

        <form class="form" (ngSubmit)="onSubmit()">

          <div class="field">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="your@email.com" [(ngModel)]="loginForm.email">
          </div>

          <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="loginForm.password">
          </div>

          <button class="button" type="submit">Login</button>

        </form>
      </div>

    </div> <!-- /.col -->

  </div>

</div>
