<div class="product-item row" *ngIf="product">
  <div class="image col-md-6 col-xs-4">

    <a [routerLink]="['/product', product._id]" *ngIf="product.image">
      <img [src]="product.image" alt="">
    </a>

  </div>

  <div class="information col-md-6 col-xs-8">
    <h3><a [routerLink]="['/product', product._id]">{{ product.name }}</a></h3>
    <div class="price">{{ product.price }} SEK</div>

    <div>
      <button (click)="addToCart()" class="button add-to-cart">
        <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
        Add to cart
      </button>
    </div>

  </div>
</div>
