<div class="product-item row" *ngIf="product">
  <div class="image col-md-6">

    <a [routerLink]="['/product', product.id]">
      <img src="https://www.thegoodguys.com.au/wcsstore/TGGCAS/idcplg?IdcService=GET_FILE&RevisionSelectionMethod=LatestReleased&noSaveAs=1&dDocName=50035069_478516&Rendition=ZOOMIMAGE" alt="">
    </a>

  </div>

  <div class="information col-md-6">
    <h3><a [routerLink]="['/product', product.id]">{{ product.name }}</a></h3>
    <div class="price">{{ product.price }} SEK</div>

    <div>
      <button (click)="addToCart()" class="button add-to-cart">
        <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
        Add to cart
      </button>
    </div>

  </div>
</div>
