<div class="profile">

  <div class="message negative" *ngIf="!user && isFinished">User not found</div>

  <app-spinner *ngIf="!isFinished"></app-spinner>

  <div *ngIf="user && isFinished">

    <h1>Welcome back, {{ user.username }}</h1>

    <div class="widget">
      <h3>Your orders</h3>

      <div class="message info" *ngIf="!user.customer?.orders">
        You have not placed any orders yet
      </div>

      <div *ngIf="user.customer">

        <table class="table" *ngIf="user.customer.orders">
          <thead>
            <tr>
              <th>Ordernr</th>
              <th>Status</th>
              <th>Date</th>
              <th>Total</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of user.customer.orders">
              <td>{{ order._id }}</td>
              <td>{{ ShippingStatus[order.status] }}</td>
              <td>{{ order.createdAt | date:'short' }}</td>
              <td class="price">${{ order.total }}</td>
              <td><a [routerLink]="['/order', order._id]">Details</a></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <button class="button" type="button" (click)="logout()">Sign out</button>
  </div>

</div>
