@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu|Ubuntu+Condensed|Ubuntu+Mono');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

$bgColor: #EDEDED;
$menuBgColor: #fff;
$pageWidth: 1200px;
$pageBgColor: #fff;

$baseFontColor: #333;
$baseLinkColor: $baseFontColor;

$footerBgColor: #333;

$priceColor: #0ab3a3;

html {
  padding: 0;
  margin: 0;
}

body {
  color: $baseFontColor;
  background: $bgColor;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: $baseLinkColor;
  text-decoration: none;
}

.page {
  margin: 60px auto;
  background: $pageBgColor;
  padding: 20px;
  width: $pageWidth;
}

.header {
  margin-bottom: 40px;

  .menu {
    background: $menuBgColor;
    margin: 0;
    overflow: auto;
    list-style: none;
    text-transform: uppercase;
    font-size: 1.2em;

    li {
      float: left;
      margin: 0 30px;
    }
  }

  .top-bar {
    text-align: right;
  }
}


.footer {
  background: $footerBgColor;
  padding: 40px;
}

/** Misc **/
.price {
  color: $priceColor;
  font-size: 1.2em;
  font-weight: 300;
}

.button {
  border-radius: 0;
  background: #0ab3a3;
  margin: 10px 0;
  display: inline-block;
  color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.14);
  border: 0;
  padding: 11px 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  line-height: 20px;
  text-align: center;
  // vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  transition: all, 0.2s, ease-in-out;

  &:hover {
    background: #099b8d;
  }

  &.add-to-cart {
    i {
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}
