<div class="checkout">

  <div class="message positive" *ngIf="orderCreated">
    <h3 class="title">Thank you!</h3>
    <p>Your order was created and you will receive an email confirmation in a moment</p>
    <p>Click <a routerLink="/products">here</a> to continue browsing our products</p>
  </div>

  <form class="form" (ngSubmit)="onSubmit()" #checkoutForm="ngForm" *ngIf="!orderCreated">
    <h1>Secure Checkout</h1>

    <p *ngIf="!auth">Already have an account? Click <a routerLink="/login">here</a> to login</p>

    <div class="row"> <!-- .row -->

      <div class="col-md-4">

        <app-checkout-form
          [form]="form"
          [customer]="auth?.customer">
        </app-checkout-form>

      </div>

      <div class="col-md-8"> <!-- .col-md-8 -->

        <div class="row"> <!-- .row -->

          <div class="col-md-6 col-xs-12">
            <app-checkout-box>
              <div class="box-title">
                <i class="fa fa-truck"></i> Shipping Method
              </div>

              <div class="box-body">

                <app-button-select
                  [options]="carriers"
                  [label]="'name'"
                  (select)="setSelectedCarrier($event)">
                  <div class="empty">
                    No carriers available, please contact administrators.
                  </div>
                </app-button-select>

              </div>
            </app-checkout-box>
          </div>

          <div class="col-md-6 col-xs-12">
            <app-checkout-box>
              <div class="box-title">
                <i class="fa fa-credit-card"></i> Payment Method
              </div>
              <div class="box-body">

                <app-payment-list [payments]="payments" [selectedPayment]="selectedPayment" (paymentEmitter)="onSelectPayment($event)"></app-payment-list>

              </div>
            </app-checkout-box>
          </div>

        </div> <!-- /.row -->

        <div>
          <app-checkout-box>
            <div class="box-title">
              <i class="fa fa-check-square"></i> Order review
            </div>
            <div class="box-body">

              <app-checkout-items
                *ngIf="products.length"
                (deleteEmitter)="removeProduct($event)"
                [items]="products"
                [editable]="true"
                [subtotal]="subtotal"
                [shipping]="selectedCarrier"
                [grandTotal]="subtotal + (selectedCarrier ? selectedCarrier.price : 0)">
              </app-checkout-items>

              <div *ngIf="!products.length">
                <p>You have no items in your cart</p>
              </div>

            </div>
          </app-checkout-box>
        </div>

        <div class="row"> <!-- .row -->

          <div class="col-md-6"> <!-- .col-md-6 -->

            <app-checkout-box [disableTitle]="true">

              <div class="box-title">Comments</div>

              <div class="box-body">

                <textarea name="comments" class="input" cols="30" rows="10"></textarea>

              </div>

            </app-checkout-box>

          </div> <!-- /.col-md-6 -->

          <div class="col-md-6"> <!-- .col-md-6 -->

            <button class="button" [disabled]="!selectedCarrier || !selectedPayment" type="submit">Place Order</button>

          </div> <!-- /.col-md-6 -->

        </div> <!-- /.row -->


      </div> <!-- /.col-md-8 -->

    </div> <!-- ./row -->

  </form>

</div>
